body {
	background-color: #ace742;
	background-color: ##C7F9A2;
	/*background-color: #bfefb6;*/
	background-color: #359b28;
	/*background-color: white;*/
	color:#e6e6e6;
	color:white;
	color: #3e2c0f;
	margin-top: 15px;
}

.page-header {
	margin-left: -30px;
}

.page-header2 {
	margin-left: -15px;
}

h1 {
	background-color: #20661b;
	color:#3e2c0f;
	color: #eb780a;
	color: #B4591F;
	color: #ace742;
	/*color: #359b28;*/

	font-size: 22pt;
	height:100px;
	/*max-height: 200px;*/
	margin-top: 15px;
	max-width:500px;
	padding-left: 30px;
	padding-top:30px;
}

ul {
	list-style: none;
}

li a {

	color:#f69f19;
	color: #903A2A;
	/*color:white;*/
/*	color:red;	
	color: #ea0fbf;*/
	display: inline-block;
	font-size: 12pt; 
	list-style: none;
	margin-top: -5px;
	margin-bottom: 10px;
	margin-left: 10px;
	max-width:600px;
	/*-webkit-text-stroke: 0.8px black;*/

}


a:hover {
	color:#eb780a;
}

p {
	max-width: 400px;
}

p a {
	color: brown;
}

.assignment {
	/*color: #F20CC8;*/
	color: #4B1C13;
	color:#914502;
	color: #ace742;
	/*color: #ace742;*/
/*	color:#391D04;
	color:#F11092;*/
	margin-top:5px;
	margin-bottom:30px;
	background-color: yellow;
	background-color: #640fea;
	background-color:#d394ff;
	background-color: #eb780a;
	background-color: #F11092;
	background-color: #820975;
	background-color: #c4032a;
	background-color: #a8440f;
	/*background-color: #737773;*/
	font-size: 16pt; 
	/*height:100px;*/
	margin-left: -15px;
	max-width:500px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top:30px;
	padding-bottom:30px;
}


.date{

	color: 4B1C13;
	color: #ace742;
	font-size:22pt;
	margin-left: 20px;
	/*-webkit-text-stroke: 0.8px black;*/
}

.dayTheme {
	
	color: 4B1C13;
	color: #ace742;
	margin-left: 24px;
/*	color: black; 
	font-family:"Minion Pro", serif; 
	font-style: normal; 
	font-weight: normal; 
	text-decoration: none; */
	font-size: 22pt; 
	max-width:400px;
}

/*#green {
	background-color: #CDE472;
}*/

/*.myPanelBody {
	font-size: 16px;
}*/

.linkz{

	color: 4B1C13;
	font-size: 12pt;
	margin-top:15px;
	margin-left: 20px;
}

.resources{
	font-size: 18pt; 
	margin-top:15px;
	margin-left: 20px;
}

.resHead{
	font-size: 24pt;
}
/*.resources li{
	margin-top:15px;
	margin-left: 20px;
}*/

.readings{
	/*margin-top:15px;*/
	margin-left: 20px;
}

.navbar {
	background-color: #f69f19;
	background-color: red;
	background-color: #ea0fbf;
	background-color: white;
	background-color: #e24ace;
	background-color: #0f440a;
	color: white; 
	/*padding: -10px;*/

}

.navbar-brand {
	background-color: #3e2c0f;
	/*background-color: #f69f19;*/
	/*margin-top: 10px;*/
	color: white; 
	
}

#resources  {
	background-color: #ba9d7f;
	color:white;
	/*margin-right: 10px;*/
	margin-left: 10px;
	/*margin-top: 10px;*/
	max-width:100px;

}

#studentWork {
	background-color: #844125;
		color:white;
	/*margin-right: 10px;*/
	margin-left: 10px;
	/*margin-top: 10px;*/
	max-width:140px;
}

#rules {
	background-color: #38280e;
		color:white;
	/*margin-right: 10px;*/
	margin-left: 10px;
	/*margin-top: 10px;*/
	max-width:140px;
}

.rulesPageBody {
	background-color: black;
	margin-left: -30px;
	max-width: 500px;
}

/*.panel {
	float: right;
}*/
.panel-body{
	background-color: #3e2c0f;
	background-color: #ba9d7f;
	/*background-color:white;*/
	/*background-color: black;*/
	color:brown;
	/*color:white;*/
	/*color:#640fea;*/
	font-size: 18px;
	/*font-size: 12px;*/
	/*-webkit-text-stroke: 0.4px black;*/
}

#blackWhite{
	background-color: #f69f19;
	background-color: #eb780a;
	background-color: black;
	color:white;
	/*background-color: grey;*/
}

.project {
	background-color: white;
	margin-left: -30px; 
	width:600px;
}

.project p{

	margin-left: 50px; 
	width:600px;
}

.subTitle {
	font-size:14pt;
	max-width:400px;
	margin-left: 20px;
}

.names {
	font-size:10pt;
	max-width:400px;
	margin-left: 20px;
}


.crits {
	background-color: #844125;
	color:#f442eb;
	color:#ace742;
	font-size:12pt;
	max-width:500px;
	margin-left: 0px;
		padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}


.blender {
	background-color: #844125;
	color:#f442eb;
	/*color:#ace742;*/
	font-size:12pt;
	max-width:500px;
	margin-left: 0px;
		padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}


.byLine {
	background-color: #844125;
	color:#ace742;
	font-size: 20px;
	margin-left: -30px;
	margin-top: -10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	max-width:500px;
}

#crit {
	background-color: #E80C89;
	margin-bottom: 30px;
	max-width:420px;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;

}

.critText {
		font-size: 60px;
}

#mainInfo {
	/*background-color: #efffd3 !important;*/
	background-color:#22381d;
	background-color: #062100;

	color: #ace742;
	margin-left: -15px;
	margin-top: 20px;
	max-width:500px;
	padding-top: 20px;
	padding-bottom:20px;
/*	background-color: yellow !important; 
*/}

.unitName {
	margin-left: -15px;
}
